.container {
    width: 100%;
    height: 20px;
    display: grid;
    grid-template-columns: 22px auto;
    justify-items: start;
    align-items: center;

    img {
        width: 12px;
        height: 12px;
    }

    

    .text {
        height: 100%;
        transition: width 0.1s linear;
        position: relative;
        font-size: 12px;
        flood-color: white;
        white-space: nowrap;
        margin-left: 2px;
    }


}


