.wrapper {
    
}

.icon {
    width: 64px;
    height: 64px;
    background: #1e1e1e;
    border: 2px solid #777;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.count {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    z-index: 2;
}

.cooldown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    transform-origin: bottom;
    z-index: 1;
}