.container {
    width: 125px;
    height: 125px;
    background: #0b223b40;
    padding: 2px;
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);



    clip-path: polygon(
            /* верх-левый */
            0 6px, 2px 6px, 2px 2px, 6px 2px, 6px 0,

            /* верх-правый */
            119px 0, 119px 2px, 123px 2px, 123px 6px, 125px 6px,

            /* низ-правый */
            125px 119px, 123px 119px, 123px 123px, 119px 123px, 119px 125px,

            /* низ-левый */
            0 125px, 0 125px, 0 125px, 0 125px, 0 125px);
                    
    
            
                   

    .items {
        width: 121px;
        height: 121px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        padding: 0 6px;

        background: #171d2940;
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);

        clip-path: polygon(
                /* верх-левый */
                0 6px,
                2px 6px,
                2px 2px,
                6px 2px,
                6px 0,

                /* верх-правый */
                115px 0,
                115px 2px,
                119px 2px,
                119px 6px,
                121px 6px,

                /* низ-правый */
                121px 115px,
                119px 115px,
                119px 119px,
                115px 119px,
                115px 121px,

                /* низ-левый */
                6px 121px,
                6px 119px,
                2px 119px,
                2px 115px,
                0 115px);
    }
}