.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background: url("assets/floor.png"); 
    .top {
        .buttons {
            position: fixed;
            top: 4px;
            right: 4px;
            z-index: 1000;
            display: flex;
            gap: 10px;
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;

    > div {
        z-index: 2;
    }

    &::after {
        content: "";
        height: 50%;
        width: 300px;
        background: #171d29;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, 0);
    }
}

.info_container {
    display: flex;
    align-items: end;
}