.container {
    width: 40px;
    height: 40px;

position: relative;

.border {
    width: inherit;
    height: inherit;
    padding: 2px;
    // background: #d49f41;
    clip-path: polygon(
                /* верх-левый */
                0% 15%,
                7.5% 15%,
                7.5% 7.5%,
                15% 7.5%,
                15% 0%,
    
                /* верх-правый */
                85% 0%,
                85% 7.5%,
                92.5% 7.5%,
                92.5% 15%,
                100% 15%,
    
                /* низ-правый */
                100% 85%,
                92.5% 85%,
                92.5% 92.5%,
                85% 92.5%,
                85% 100%,
    
                /* низ-левый */
                15% 100%,
                15% 92.5%,
                7.5% 92.5%,
                7.5% 85%,
                0% 85%);
                position: relative;
                z-index: 10;
}

.shadow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    // box-shadow: 0px 0px 8px 1px #f5d870 ;
    z-index: 1;
}

.image_wrapper {
    width: 36px;
    height: 36px;
    background: #1b192780;
    clip-path: inherit;
    padding: 6px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
}