.container {
    width: 125px;
    height: 125px;
    background: #313d4b;
    // box-shadow: 2px 2px 0 2px #313d4b inset;
    padding: 2px;
    clip-path: polygon(
        /* верх-левый */
        0 6px, 2px 6px, 2px 2px, 6px 2px, 6px 0,

        /* верх-правый */
        119px 0, 119px 2px, 123px 2px, 123px 6px, 125px 6px,

        /* низ-правый */
        125px 119px, 123px 119px, 123px 123px, 119px 123px, 119px 125px,

        /* низ-левый */
        6px 125px, 6px 123px, 2px 123px, 2px 119px, 0 119px);
    
        .info {
            width: 121px;
            height: 121px;
            position: relative;
            background: #171d29;
            clip-path: polygon(
                    /* верх-левый */
                    0 6px,
                        2px 6px,
                        2px 2px,
                        6px 2px,
                        6px 0,
                    
                        /* верх-правый */
                        115px 0,
                        115px 2px,
                        119px 2px,
                        119px 6px,
                        121px 6px,
                    
                        /* низ-правый */
                        121px 115px,
                        119px 115px,
                        119px 119px,
                        115px 119px,
                        115px 121px,
                    
                        /* низ-левый */
                        6px 121px,
                        6px 119px,
                        2px 119px,
                        2px 115px,
                        0 115px);
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
}

