.container {
    width: 100%;
    height: 20px;
    display: grid;
    grid-template-columns: 22px auto;
    justify-items: start;
    align-items: center;

    .name {
        width: 12px;
        font-size: 12px;
        margin-right: 4px;
    }

    .scale_container {
        width: 100%;
        height: inherit;
        background: #1b1927;
        position: relative;
        padding: 2px;
        overflow: hidden;


        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            box-shadow: -2px -2px 0 0px #3a4273 inset;
        }

        .scale {
            height: 100%;
            background: #d49f41;
            transition: width 0.1s linear;
            box-shadow: 2px 2px 0 0px #f5d870 inset;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                box-shadow: 0px -2px 0 0px #b07c29 inset;
            }
        }

        .text {
            font-size: 12px;
            flood-color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
        }

    }
}
