.container {
    width: 40px;
    height: 40px;
    background: #171d29;
    box-shadow: 2px 2px 0 0px #090c13 inset;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        box-shadow: -2px -2px 0 0px #313d4b inset;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}